django==5.0.3
djangorestframework==3.15.1
social-auth-app-django
python-dotenv
youtube-transcript-api
pytube
openai==0.27.8
langchain==0.0.304
python-dotenv
langchain-community
tiktoken
transformers
youtube_transcript_api
gunicorn==20.0.4
whitenoise